@using AlbumReviews.ViewModels;
@model List<AlbumViewModel>
@{
}

@foreach (AlbumViewModel album in Model)
{
    <header>
        <a asp-controller="Review" asp-action="Index" asp-route-albumId="@album.AlbumId" class="album-title">@album.Title</a>
        <p class="album-artist">@album.Artist</p>
    </header>
    <img src="@album.Cover" alt="Cover image of @album.Title" class="album-cover">

    <p class="album-details">@album.ReleaseDate, @album.Genre</p>
}
