@using AlbumReviews.ViewModels
@using AlbumReviews.Services
@model PaginatedList<AlbumViewModel>

<div class="search-container">
    <form method="get" asp-action="All" class="search-form">
        <input type="text" name="searchString" placeholder="Search by title or artist..." value="@ViewData["CurrentFilter"]" />
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>

@foreach (AlbumViewModel album in Model)
{
    <header>
        <a asp-controller="Review" asp-action="Index" asp-route-albumId="@album.AlbumId" class="album-title">@album.Title</a>
        <p class="album-artist">@album.Artist</p>
    </header>
    <img src="@album.Cover" alt="Cover image of @album.Title" class="album-cover">
    <p class="album-details">@album.ReleaseDate, @album.Genre</p>
}

<div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="All" asp-route-pageNumber="@(Model.PageIndex - 1)">Previous</a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
            }

            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" asp-action="All" asp-route-pageNumber="@i">@i</a>
                </li>
            }

            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="All" asp-route-pageNumber="@(Model.PageIndex + 1)">Next</a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
            }
        </ul>
    </nav>
</div>
