@using AlbumReviews.ViewModels;
@model List<AlbumViewModel>
@{
}
@foreach(AlbumViewModel album in Model){
    <header>
        <a asp-controller="Review" asp-action="Index" asp-route-albumId="@album.AlbumId">@album.Title</a>
    </header>
    <p>
        @album.Genre
    </p>
    <img src="@album.Cover" alt="Cover image of @album.Title">
    <p>
        @album.Artist
    </p>
    <p>
        @album.ReleaseDate
    </p>
}
