@model List<AlbumReviews.ViewModels.AlbumViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div style="text-align: left; margin-bottom: 20px;">
    <h2>Most recent albums</h2>
</div>

<div class="album-container">
    @foreach (var album in Model)
    {
        <div class="album-card">
            @if (!string.IsNullOrEmpty(album.Cover))
            {
                <img src="@album.Cover" alt="Cover image of @album.Title" class="album-cover" />
            }
            <div class="album-info">
                <h3 class="album-title">
                    <a asp-controller="Review" asp-action="Index" asp-route-albumId="@album.AlbumId">@album.Title</a>
                </h3>
                <dt>Artist:</dt><dd>@album.Artist</dd>
                <dt>Genre:</dt><dd>@album.Genre</dd>
                <dt>p>Release Date:</dt><dd>@album.ReleaseDate</dd>
                <dt>Reviews:</dt><dd>@album.ReviewCount</dd>
                @if (album.AverageRating.HasValue)
                {
                    <p>Average Rating: @album.AverageRating.Value.ToString("0.0")</p>
                    <div style="height: 5px;">
                        <div class="progress" style="width: @(album.AverageRating)%; background-color: @(album.AverageRating <= 33 ? "red" : album.AverageRating <= 66 ? "yellow" : "green");"></div>
                    </div>
                }
                else
                {
                    <p>Average Rating: N/A</p>
                }
            </div>

        </div>
    }
</div>

@section Styles {
    <style>
        .album-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: flex-start;
        }

        .album-card {
            border: 2px solid #888; 
            border-radius: 10px; 
            overflow: hidden; 
            width: 200px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
            text-align: left;
        }

        .album-cover {
            width: 100%;
            height: auto;
            border-bottom: 1px solid #888; 
        }

        .album-info {
            padding: 10px; 
            background-color: #333; 
        }

            .album-info h3 {
                margin: 0; 
                color: white; 
            }

            .album-info p {
                margin: 5px 0; 
                color: white; 
            }

        .progress {
            height: 5px;
            border-radius: 5px;
            margin-top: 5px;
            .album-title
        }
         .album-title{
            margin: 0;
            color: white;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
}

